.CarreRestaurant2:hover {
    transition: 300ms ease-in-out;
    border-right: 80px solid #99E2D0;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* -- Spinner Loader -- */

.SpinnerLoader {
    $animation-duration: 2s;
    $animation-count: 2;
    position: fixed;
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    inset: 0;
    background-color: #ffffff;
    opacity: 0.9;
    z-index: 1;
    animation: disparition 500ms $animation-duration * $animation-count forwards;
    transform-origin: top;
    &::after {
        content: "";
        height: 100px;
        width: 100px;
        border-right: 5px solid transparent;
        border-top: 5px solid #9356dc;
        border-radius: 50%;
        animation: spin $animation-duration infinite linear;
    }
}


@keyframes disparition {
    from {
        transform:scale (1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}