.menuItem {
    background-color: #fff;
    padding: 10px;
    display: flex;
    border-radius: .75rem;
    margin: 1rem 0;
    box-shadow: .25rem .25rem 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
    max-width: 100%;
    width: 90%;
    height: auto;
    place-self: center;

}

.menuItem__header {
    flex: 1
}

.menuItem__header,
.menuItem__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}

.menuItem__description {
    margin: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.menuItem__price {
    place-self: center;
    font-weight: bold;
}


.menuItem__confirmation {
    background-color: #99e2d0;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .5s
}

.menuItem:hover .menuItem__confirmation {
    margin-right: -1rem;
}

.menuItem:hover .menuItem__wrapIcon {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-animation: rotate 0.5s both;
    animation: rotate 0.5s both;
}

.menuItem__wrapIcon i {
    height: 1.6rem;
    width: 1.6rem;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;

}

.menuItem__icon {
    color: #99e2d0
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedDelay2 {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-delay: 0.5s;
}

.animatedDelay3 {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-delay: 1s;
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px 0);
    }
    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}


@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate (360deg);
        transform: rotate(360deg);
    }
}