.restaurations {
    margin: 0;
    background: #f6f6f6;
    padding: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.restauration {
    &__cartes {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px;
    }
    &__carte{
        position: relative;
        object-fit: cover;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        width: 100%;
        border-radius: 20px;
        transform: scale(1.0);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,3);
        &-nouveau {
            position: absolute;
            background: #99e2d0;
            top: 20px; right: 20px;
            & p {
                color: #1b6150;
                padding: 10px 20px;
                margin: 0;
            }
        }
        &:hover {
            transition: .5s;
            transform: scale(1.0);
            box-shadow: 0px 0px 10px 0px rgba(147, 86, 220, 0.6);
        }
        &-image {
            border-radius: 20px 20px 0 0 ;
            object-fit: cover;
            width: 100%;
            height: 190px;
            & > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px 20px 0 0;
            }
        }
    }
    &__bloc {
        background:white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 90px;
        border-radius: 0 0 20px 20px;
        &-info {
            color: black;
            margin-left: 20px;
            & > :first-child {
                font-weight: 700;
            }
        }
        &-coeur {
            margin-right: 20px;
            width: 30px;
        }
        .Coeur {
            width: 30px;
            stroke-width: 30;
            stroke: black;
            fill: white;
            cursor: pointer;
        }
        .Coeur-remplis {
            position: absolute;
            fill: url(#text-fill);
            stroke: none;
        }
        .Coeur-vide {
            width: 50px;
            position: relative;
            &:hover {
                opacity: 0;
                transition: 0.5s;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    .restaurations {
        &-carte {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
        }
    }
}