@import "./sass/base.scss";
@import "./sass/layouts/header.scss";
@import "./sass/animations.scss";

.image_size {
    width: 100%;
    height: 160px;
}

/* -- Première Div -- */

.BackgroundGreyColor2 {
    background-color: #F7F6F5;
}

.H1modif {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}

.ButtonStyle {
    border-width: 0;
    border-radius: 20px 20px 20px 20px;
    width: 35%;
    height: 40px;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    color: white;
    box-shadow: 2px 2px 10px #00000033;
}

.Text_1 {
    font-weight: 700;
}

.Text_2 {
    font-weight: 300;
    font-size: large;
}

.BorderRadiusCircle {
    width: 25px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background-color: #9356DC;
    color: white;
    justify-content: center;
}


/* -- Fin première DIv -- */

/* -- Fonctionnement CSS -- */

.CarreFonctionnement {
    background-color: #F7F6F5DA;
    text-align: center;
    width: 90%;
    height: 70px;
    justify-content: center;
    box-shadow: 2px 2px 10px #00000033;
    border-radius: 20px;
    text-align: center;
    display: inline-flex;
    place-self: center;
}

/* -- Fin Fonctionnement CSS -- */

/* -- Bloc Restaurants -- */

.TypoTextEntree {
    font-size: medium;
    font-weight: 300;
    margin-left: 25px;
    margin-top: 30px;
    border-bottom-style: solid;
    width: 10%;
    border-color: #99E2D0;
}

.MargeLeftRightTop {
    padding: 25px;
    padding-bottom: 0;
}

.CarreRestaurant {
    background-color: white;
    height: 240px;
    width: 90%;
    border-radius: 20px;
    box-shadow: 3px 0px 15px 3px#83838386;
    margin-top: 40px;
    align-self: center;
    border-left: 0 solid #00ff99;
    transition: border-right 300ms ease-in-out, padding-right 300ms ease-in-out;
}

.CarreRestaurant2 {
    background-color: white;
    height: 70px;
    width: 95%;
    border-radius: 20px;
    box-shadow: 3px 0px 15px 3px #83838386;
    margin-top: 15px;
    align-self: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


.ImagesRestaurants {
    width: 100%;
    height: 160px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    position: relative;
}

.ImagesRestaurants2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    display: flex;
}

.MarginLeftRestaurant {
    margin-left: 20px;
}

.SectionRestaurant {
    z-index: 2;
    border-radius: 35px 35px 0 0;
    position: relative;
    background-color: #F7F6F5;
}

/* -- Fin Bloc Restaurants -- */

/* -- Header des pages de commandes des restaurants -- */

.BlocSizeImage {
    block-size: 200px;
    width: 100%;
}

.BlocTextUnderImage {
    z-index: 2;
    border-radius: 35px 35px 0 0;
    position: relative;
}

.BlocTextUnderImage2 {
    z-index: 2;
    position: relative;
}

/* -- Fin du header des pages de commandes des restaurants -- */

/* -- Footer -- */

.TextTitleFooter {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 100;
}

.None-Decoration {
    text-decoration: none;
}

.Lien-Footer {
    color: black;
}

.BackgroundFooter {
    background-color: #2c2c2c;
    height: 200px;
    padding: 15px;
}

/* -- Icon modifs -- */

.IconSizeModif {
    font-size: xx-large;
}

/* -- Fin Icon Modifs -- */

