/* -- Classic properties -- */

p
{
    margin-block-start: unset;
    margin-block-end: unset;
}

h1
{
    margin-block-start: unset;
    margin-block-end: unset;
}

h2
{
    margin-block-start: unset;
    margin-block-end: unset;
}

h3
{
    margin-block-start: unset;
    margin-block-end: unset;
}

body
{
    font-family: 'Roboto', sans-serif ;
    margin: 0;
}

.Display_Inline_Flex
{
    display: inline-flex;
}

.BackgroundGreyColor
{
    background-color: #EAEAEA;
}

/* -- CSS du header -- */

.Logo_Nav
{
    margin-top: 20px;
    margin-bottom: 5px;
}

.Element_Center
{
    text-align: center;
}

.TextHeader
{
    margin-left: 15px;
}

.ShadowBoxHeader
{
    box-shadow: inset 0px 20px 15px -26px black;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

/* -- Fin CSS du header -- */

.image_size
{
    width: 50%;
    height: 50%;
}

/* -- Première Div -- */

.BackgroundGreyColor2
{
    background-color: #F7F6F5;
}

.H1modif
{
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
}